/ArraysAndCollections/EmailList/.idea/.gitignore
/ArraysAndCollections/EmailList/out/production/EmailList/DomainComparator.class
/ArraysAndCollections/EmailList/out/production/EmailList/EmailComparator.class
/ArraysAndCollections/EmailList/out/production/EmailList/EmailList.class
/ArraysAndCollections/EmailList/EmailList.iml
/ArraysAndCollections/EmailList/out/production/EmailList/Main.class
/ArraysAndCollections/EmailList/.idea/misc.xml
/ArraysAndCollections/EmailList/.idea/modules.xml
/ArraysAndCollections/EmailList/.idea/vcs.xml
